beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
html5lib==1.1
idna==3.3
mechanize==0.4.8
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.26.9
webencodings==0.5.1
